<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <center>
            <form method="post" action="result">
                {% csrf_token %}
                <label>Your Name:</label>
                <input type="text" name="your_name"><br><br>
                <label>Dojo Location:</label>
                <select name="location">
                    <option value="Ramallah">Ramallah</option>
                    <option value="Hebron">Hebron</option>
                    <option value="Nablus">Nablus</option>
                </select><br><br>
                <label>Favorite Language:</label>
                <select name="favorite_language">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="Mern">Mern</option>
                </select><br><br>
                <label>Comment (optional):</label><br><br>
                <textarea name="text_area"></textarea><br><br>
                <input id="submitB" type="submit" value="Button">
            </form>
    </center>
</body>
</html>