<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid black;
        }

        table tr td {
            width: 60px;
            height: 60px;
        }

        .first_color {
            background-color: red;
        }

        .second_color {
            background-color: black;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
        </tr>
        <tr>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
        </tr>
        <tr>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
        </tr>
        <tr>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
        </tr>
        <tr>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
        </tr>
        <tr>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
        </tr>
        <tr>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
        </tr>
        <tr>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
            <td class="second_color"></td>
            <td class="first_color"></td>
        </tr>
    </table>
</body>

</html>